<div id="mainDiv" v-cloak>
    <Spin size="large" fix v-if="loading"></Spin>
    <Layout>
        <Content :style="{margin: '20px'}">
            <Card>
                <div id="Content" style="min-height: 500px;">
                    <Row :gutter="16">
                        <i-Col span="4">
                            <i-Select v-model="searchType">
                                <i-Option value="formId">表单ID</i-Option>
                                <i-Option value="qualityId">指标ID</i-Option>
                                <i-Option value="qualityConditionId">指标关系ID</i-Option>
                                <i-Option value="createTime">创建时间</i-Option>
                            </i-Select>
                        </i-Col>
                        <i-Col span="6">
                            <i-Input type="text" v-model="searchKey" placeholder="请输入关键字">
                            </i-Input>
                        </i-Col>

                        <i-Col span="2">
                            <i-Button type="primary" @click="search" icon="ios-search">搜索</i-Button>
                        </i-Col>
                        <i-Col span="2">
                            <Upload :format="['xls','xlsx']" :on-progress="uploading" :show-upload-list="false" :on-success="uploadDone" :on-format-error="handleFormatError" :action="uploadUrl">
                                <i-Button type="ghost" icon="ios-upload">导入</i-Button>
                            </Upload>
                        </i-Col>
                        <i-Col span="2">
                            <i-Button type="info" @click="download" icon="ios-download">导出</i-Button>
                        </i-Col>
                        <i-Col span="2">
                            <i-Button type="success" @click="add" icon="plus">新增</i-Button>
                        </i-Col>
                    </Row>
                    <br>
                    <Row>
                        <i-col span="24">
                            <i-Table border stripe @on-sort-change="onSort" :columns="columnData" :data="dataSource"></i-Table>
                        </i-col>
                    </Row>
                    <br>
                    <Row>
                        <i-col span="24">
                            <Page :total="total" @on-change="changePage" :page-size="searchModel.pageSize" :current="searchModel.pageIndex" size="small" show-total></Page>
                        </i-col>
                    </Row>
                </div>
            </Card>
        </Content>
        <Footer class="layout-footer-center"> </Footer>
    </Layout>
    <Modal v-model="showEdit" width="600px">
        <p slot="header">
            <Icon type="information-circled"></Icon>
            <span>表单指标关系编辑</span>
        </p>
        <div>
            <Row>
                <i-col>
                    <i-Form ref="editForm" inline :rules="baseRules" :model="baseModel">
                        <Form-Item prop="formId" label="表单ID">
                            <i-Input size="small" v-model="baseModel.formId" placeholder="表单ID"></i-Input>
                        </Form-Item>
                        <Form-Item prop="qualityId" label="指标ID">
                            <i-Input size="small" v-model="baseModel.qualityId" placeholder="指标ID"></i-Input>
                        </Form-Item>
                        <Form-Item prop="qualityConditionId" label="指标关系ID">
                            <i-Input size="small" v-model="baseModel.qualityConditionId" placeholder="指标关系ID"></i-Input>
                        </Form-Item>
                        <Form-Item prop="createTime" label="创建时间">
                            <Date-Picker size="small" style="width:160px" type="date" v-model="baseModel.createTime" placeholder="创建时间"></Date-Picker>
                        </Form-Item>
                    </i-Form>
                </i-col>
            </Row>
        </div>
        <div slot="footer">
            <i-Button type="primary" size="large" :loading="loading" long @click="save">保存</i-Button>
        </div>
    </Modal>
</div>
<script src="/js/lib/FormQuailty.js"></script>