<style>
    form .ivu-form-item-content {
        float: left;
    }
</style>
<!-- 引入样式 -->
<link href="/js/easytable/easytable.css" rel="stylesheet" />
<style>
    .v-table-rightview-special-border td:last-child .v-table-body-cell {
        border-right-width: 1px !important;
    }
</style>
<div id="mainDiv" v-cloak>
    <Spin size="large" fix v-if="loading"></Spin>
    <Layout>
        <Content :style="{margin: '20px'}">
            <Card>
                <div id="Content" style="min-height: 500px;">
                    <Row :gutter="16">
                        <i-Form inline ref="failedTable">
                            <Form-Item label="状 态">
                                <i-select v-model="searchModel.state" filterable :clearable="true">
                                    <i-Option v-for="item in searchListModel.state" :value="item.k" :key="item.v">{{item.v}}</i-Option>
                                </i-select>
                            </Form-Item>
                            <Form-Item label="工序名称">
                                <i-select v-model="searchModel.process" filterable :clearable="true">
                                    <i-Option v-for="item in searchListModel.process" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                                </i-select>
                            </Form-Item>
                            <Form-Item label="炉号">
                                <i-select v-model="searchModel.batchNo" filterable :clearable="true">
                                    <i-Option v-for="item in searchListModel.batchNo" :value="item.batchNo" :key="item.batchNo">{{ item.batchNo }}</i-Option>
                                </i-select>
                            </Form-Item>
                            <Form-Item label="操作工">
                                <i-select v-model="searchModel.operator" filterable :clearable="true">
                                    <i-Option v-for="item in searchListModel.operator" :value="item.id" :key="item.id">{{ item.userName }}</i-Option>
                                </i-select>
                            </Form-Item>
                            <Form-Item label="检验员">
                                <i-select v-model="searchModel.checker" filterable :clearable="true">
                                    <i-Option v-for="item in searchListModel.checker" :value="item.id" :key="item.id">{{ item.userName }}</i-Option>
                                </i-select>
                            </Form-Item>
                            <Form-Item label="">
                                <i-Button type="primary" @click="search" icon="ios-search">搜索</i-Button>
                            </Form-Item>
                        </i-Form>
                    </Row>
                    <Row>
                        <i-col span="24">
                            <i-Table border stripe @on-sort-change="onSort" :columns="columnData" :data="tableData.dataSource" :height="tableData.tableHeight"></i-Table>
                        </i-col>
                    </Row>
                    <br>
                    <Row>
                        <i-col span="24">
                            <Page :total="total" @on-change="changePage" :page-size="searchModel.pageSize" :current="searchModel.pageIndex" size="small" show-total></Page>
                        </i-col>
                    </Row>
                </div>
            </Card>
        </Content>
        <Footer class="layout-footer-center"> </Footer>
    </Layout>
    <Modal v-model="showEdit" width="950">
        <p slot="header">
            <Icon type="information-circled"></Icon>
            <span>不合格品检验单</span>
        </p>
        <div>
            <collapse v-model="panels">
                <panel name="1">
                    <span>检验信息<a style="float:right;margin-right: 10px;" @click="showAllEditClick">查看更多</a></span>
                    <p slot="content" style="float:left;">
                        <v-table :width="660" :columns="checkcolumn" :title-rows="checktitleRows" :table-data="checkTableData" :cell-merge="cellMerge"></v-table>
                    </p>
                    <p slot="content" style="float:left;">
                        <span style="margin-left:15px">检验信息</span>
                        <i-Form style="margin-top: 10px;">
                            <Form-Item label=" ">
                                <i-Input v-model="checkSuggest" disabled type="textarea" :autosize="{minRows: 12,maxRows: 10}" style="    width: 200px;"></i-Input>
                            </Form-Item>
                        </i-Form>
                    </p>
                    <div slot="content" style="clear:both"></div>
                </panel>
                <panel name="2">
                    <span>技术部门评审</span>
                    <p slot="content">
                        <i-Form ref="technologyEditForm" :rules="Rules" :model="technology" :label-width="100">
                            <Form-Item prop="state" label="审核意见">
                                <radio-group v-model="technology.state">
                                    <radio label="0" :disabled="(baseModel.status>0)||(state=='quality')">合格</radio>
                                    <radio label="4" :disabled="(baseModel.status>0)||(state=='quality')">工序回用</radio>
                                    <radio label="5" :disabled="(baseModel.status>0)||(state=='quality')">零件回用</radio>
                                    <radio label="1" :disabled="(baseModel.status>0)||(state=='quality')">返工</radio>
                                    <radio label="2" :disabled="(baseModel.status>0)||(state=='quality')">料废</radio>
                                    <radio label="3" :disabled="(baseModel.status>0)||(state=='quality')">工废</radio>
                                </radio-group>
                            </Form-Item>
                            <Form-Item prop="remark" label="备  注">

                                <i-Input v-model="technology.remark" :disabled="(baseModel.status>0)||(state=='quality')" type="textarea" :autosize="{minRows: 5,maxRows: 5}" style="width:500px;"></i-Input>
                            </Form-Item>
                            <Form-Item prop="auditor" label="审核人" v-if="technology.auditor">
                                <span>{{technology.auditor}}</span>
                            </Form-Item>
                            <Form-Item prop="auditorDate" label="审核时间" v-if="technology.auditorDate">
                                <span>{{technology.auditorDate}}</span>
                            </Form-Item>
                        </i-Form>
                    </p>
                </panel>
                <panel name="3" v-show="(baseModel.status==1&&state=='quality')||(baseModel.status==2)">
                    <span>质量部门评审</span>
                    <p slot="content">
                        <i-Form ref="qualityEditForm" :rules="Rules" :model="quality" :label-width="100">
                            <Form-Item prop="state" label="审核意见">
                                <radio-group v-model="quality.state">
                                    <radio label="0" :disabled="(baseModel.status!=1)||(state=='technology')">合格</radio>
                                    <radio label="4" :disabled="(baseModel.status!=1)||(state=='technology')">工序回用</radio>
                                    <radio label="5" :disabled="(baseModel.status!=1)||(state=='technology')">零件回用</radio>
                                    <radio label="1" :disabled="(baseModel.status!=1)||(state=='technology')">返工</radio>
                                    <radio label="2" :disabled="(baseModel.status!=1)||(state=='technology')">料废</radio>
                                    <radio label="3" :disabled="(baseModel.status!=1)||(state=='technology')">工废</radio>
                                </radio-group>
                            </Form-Item>
                            <Form-Item prop="remark" label="备  注">
                                <i-Input v-model="quality.remark" :disabled="(baseModel.status!=1)||(state=='technology')" type="textarea" :autosize="{minRows: 5,maxRows: 5}" style="width:500px;"></i-Input>
                            </Form-Item>
                            <Form-Item prop="auditor" label="审核人" v-if="quality.auditor">
                                <span>{{quality.auditor}}</span>
                            </Form-Item>
                            <Form-Item prop="auditorDate" label="审核时间" v-if="quality.auditorDate">
                                <span>{{quality.auditorDate}}</span>
                            </Form-Item>
                        </i-Form>
                    </p>
                </panel>
            </collapse>
        </div>
        <div slot="footer">
            <i-Button @click="close('showEdit')">关 闭</i-Button>
            <i-Button type="primary" :loading="loading" @click="save" :disabled="saveState">保存</i-Button>
        </div>
    </Modal>
    <Modal v-model="showAllEdit" width="900">
        <p slot="header">
            <Icon type="information-circled"></Icon>
            <span>加工检验单</span>
        </p>
        <div>
            <Row style="font-size: large;"><span style="margin-right:10px;">炉号:{{baseModel.batchNo}}</span> <span style="margin-right:10px">子件号:{{baseModel.productCode}}</span> <span style="margin-right:10px">子件名称:{{baseModel.productName}}</span></Row>
            <Row>
                <v-table :columns="allcheckcolumn" :title-rows="allchecktitleRows" :table-data="allcheckTableData" :cell-merge="cellMerge"></v-table>
            </Row>
        </div>
        <div slot="footer">
            <i-Button @click="close('showAllEdit')">关 闭</i-Button>
        </div>
    </Modal>
    <Modal v-model="showImg" width="500px">
        <p slot="header">
            <Icon type="information-circled"></Icon>
            <span>图片查看</span>
        </p>
        <div>
            <img style="width:100%;height:100%" :src="showImgFilepath" />
        </div>
        <div slot="footer">
            <i-Button @click="close('showImg')">关 闭</i-Button>
        </div>
    </Modal>
</div>

<script src="/js/business/NonconformingFlow.js?r=0.2"></script>